<script
  type="application/json"
  data-section-type="text-columns-with-images"
  data-section-id="{{ section.id }}"
>
</script>
 <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
  
{% comment %} Content settings {% endcomment %}
{%- assign blocks = section.blocks -%}
{%- assign title = section.settings.title | escape -%}
{%- assign sub_title = section.settings.sub_title | escape -%}
{%- assign html5_video1 = block.settings.html5_video1 | escape -%}
{%- assign html5_video2 = block.settings.html5_video2 | escape -%}
{% comment %} End content settings {% endcomment %}

{% comment %} Advanced {% endcomment %}
{%- assign css_class = section.settings.css_class -%}
{%- assign custom_css = section.settings.custom_css -%}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  {%
    render 'css-loop',
    css: custom_css,
    id: id
  %}
{% endstyle %}


 
<section class="section {{ css_class }} mobile-test-sect">
  <div class="container"> 
  	{% if title != blank %}
	  	<div class="top-heading-content">
	  		<h2>{{ title }}</h2>
	  		<p>{{ sub_title }}</p>
	  	</div>
  	{% endif %}
    {% if section.settings.Reviews-title != blank %}
		<div class="more-rev-div-sli">
			<h3>{{ section.settings.Reviews-title }}</h3>
			{% if section.settings.Reviews-discription != blank %}
			<p>{{ section.settings.Reviews-discription }}</p>
			{% endif %}
			{% if section.settings.review-button_label != blank %}
			<a href="{{ section.settings.review_button_link }}">{{ section.settings.review-button_label }}</a>
			{% endif %}
		</div>
	{% endif %}
	<div class="owl-slider">
		<div id="home-rev-mobile-carousel" class="owl-carousel owl-theme review-slider">
			{% for block in blocks %}
	      	{% comment %} Content settings {% endcomment %}
	      	{%- assign title1 = block.settings.Testimonial-title-1 -%}
	      	{%- assign disc1 = block.settings.test-discription1 -%}
	      	{%- assign html5_video1 = block.settings.html5_video1 | escape -%}
	      	{% comment %} End content settings {% endcomment %}
			    <div class="item review-item-div">
					<div class="border-style--{{ block.settings.border_style }} text-align--{{ block.settings.align_text }}">
				     	<div class="slider-hom-m-row">
				     		<div class="th-col">
				     			<div class="thirs-m-row">
				     				{% if block.settings.first-col-image != blank %}
				         			<div class="rew-cont">
				         				<div class="pt-img">
											<a class="size_chart img_w_review" href="javascript:;" data-fancybox="" data-src="#size-chart-{{ block.id }}" data-type="inline" data-no-instant="">
	            								<img src="{{ block.settings.first-col-image | img_url: 'master'  }}">
								         	</a>
				         				</div>
				         				<div class="js-sizechart-lightbox video_review" id="size-chart-{{ block.id }}" style="display: none;">
											<span class="">
										        <video width="100%" height="100%" controls>
										        <source src="{{ html5_video1 }}" type="video/mp4">
										        <source src="{{ html5_video1 }}" type="video/ogg">
										        </video>
										    </span>
										</div>
				         				<div class="content-rev">
				         					<div class="title-star">
				         						<h2>{{ title1 }}</h2>
				         						{% if block.settings.star_img1 != blank %}
								                	<img alt="{{ block.settings.star_img1.alt | escape }}"
								                     class="star_img lazyload {{ settings.image_loading_style }}"
								                     data-sizes="25vw"
								                     style="max-width: 100px; margin:auto;"
								                     data-src="{{ block.settings.star_img1 | img_url: '2048x' }}"
								                     data-srcset="{{ block.settings.star_img1 | img_url: '200x' }} 200w,
								                                  {{ block.settings.star_img1 | img_url: '300x' }} 300w,
								                                  {{ block.settings.star_img1 | img_url: '400x' }} 400w,
								                                  {{ block.settings.star_img1 | img_url: '500x' }} 500w,
								                                  {{ block.settings.star_img1 | img_url: '600x' }} 600w,
								                                  {{ block.settings.star_img1 | img_url: '1000x' }} 1000w"
								                	/>
								 				{% endif %}
				         					</div>
				         					<div class="desc">
				         						{{disc1 | truncatewords: 10 }}
				         					</div>
				         				</div>
				         			</div>
			         			{% endif %}
				     			</div>
				     		</div>
				     	</div>
				    </div>
				</div>
			{% endfor %}
		</div>
    </div>
    </div> 
</section>

<style>
.sub_hheading_r{margin-bottom:40px}
@media only screen and (max-width: 798px){
.sub_hheading_r{margin-bottom:10px; font-size: 14px;}
.slider_review_h h3 { font-size: 20px; margin-bottom: 0px; margin-top: 10px;}
.owl-carousel .owl-item img {width: 75%;  margin: auto;}
}
</style>

<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>

  <script>
     $("#home-rev-mobile-carousel").owlCarousel({
		margin: 10,
		nav: true,
       dot: false,
		  responsive: {
		    0: {
		      items: 1
		    },

		    600: {
		      items: 1
		    },

		    1024: {
		      items: 1
		    },

		    1366: {
		      items: 1
		    }
		  }
		});
    </script>





{% schema %}
{
  "name": "Review Slider",
  "class": "shopify-section--text-columns-with-images",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Text columns with images"
    },
  {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Heading",
      "default": "Text columns with images"
    },
    {
      "type": "header",
      "content": "Bottom-Box"
    },
    {
      "type": "text",
      "id": "Reviews-title",
      "label": "Reviews title ",
      "default": "Add a title or tagline"
    },
    {
      "type": "richtext",
      "id": "Reviews-discription",
      "label": "Discription",
      "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
    },
    {
      "type": "text",
      "id": "review-button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "review_button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "limit": 20,
      "settings": [
        {
          "type": "image_picker",
          "id": "first-col-image",
          "label": "First Image"
        },
        {
	      "type": "text",
	      "id": "html5_video1",
	      "label": "HTML5 MP4/OGV File URL"
	    },
        {
          "type": "text",
          "id": "Testimonial-title-1",
          "label": "Testimonial title ",
          "default": "Add a title or tagline"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "default": "regular_text",
          "options": [
            {
              "value": "regular_text",
              "label": "Regular"
            },
            {
              "value": "large_text",
              "label": "Large"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "test-discription1",
          "label": "Discription",
          "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
        },
		{
          "type": "image_picker",
          "id": "star_img1",
          "label": "Image Star"
        },
        {
          "type": "select",
          "id": "align_text",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "border_style",
          "label": "Border style",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "quote",
              "label": "Quote"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home custom Mobile Slider",
      "category": "Text",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ],
  "templates": [
    "index",
    "product",
    "page"
  ]
}

{% endschema %}
