<script
  type="application/json"
  data-section-type="text-columns-with-images"
  data-section-id="{{ section.id }}"
>
</script>

{%- assign id = section.id -%}

{% comment %} Content settings {% endcomment %}
{%- assign blocks = section.blocks -%}
{%- assign title = section.settings.title | escape -%}
{%- assign sub_title = section.settings.sub_title | escape -%}
{%- assign html5_video = block.settings.html5_video | escape -%}
{% comment %} End content settings {% endcomment %}

{% comment %} Advanced {% endcomment %}
{%- assign css_class = section.settings.css_class -%}
{%- assign custom_css = section.settings.custom_css -%}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  {%
    render 'css-loop',
    css: custom_css,
    id: id
  %}
{% endstyle %}
 
<section class="section {{ css_class }}">
  <div class="container">
    {% if title != blank %}
      <div class="one-whole column">
        <h2 class="title center" style="margin-bottom:0;">
          {{ title }}
        </h2>
        <p class="center sub_hheading_r">
          {{ sub_title }}
        </p>
      </div>
    {% endif %} 
<div class="">
<div class="">
	     
    {% for block in blocks %}
      {% comment %} Content settings {% endcomment %}
      {%- assign image = block.settings.image -%}
      {% comment %} End content settings {% endcomment %}

     <div class="item four column r_max-hight review-item-div">
        <div class="border-style--{{ block.settings.border_style }} text-align--{{ block.settings.align_text }}">
        {% if block.settings.enable_image %} 
          {% if image != blank %}

         <a class="size_chart img_w_review img_w_review-icon" href="javascript:;" data-fancybox="" data-src="#size-chart-{{ block.id }}" data-type="inline" data-no-instant="">
            {%
              render 'image-element',
              image: image.src,
              alt: image.alt
            %}
            <svg class="play-icon-button-control" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="60" height="60" fill="white"></rect><path fill-rule="evenodd" clip-rule="evenodd" d="M23 20V40L39 29.4248L23 20Z" fill="#323232"></path></svg>
         </a>

          <div class="js-sizechart-lightbox video_review" id="size-chart-{{ block.id }}" style="display: none;">



         {% if block.settings.iframe_video != blank %}
           <div class="videoWrapper">
          <iframe width="500px" height="400px" src="https://www.youtube.com/embed/{{ block.settings.iframe_video.id }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"></iframe>
       
           </div>
          {% endif %}
            
     {% if block.settings.html5_video != blank %}
     <span class="">
         <video width="100%" height="100%" controls>
              <source src="{{ block.settings.html5_video }}" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
          </video>
           </span>
    {% endif %}
 

            
          



            
        </div>
          {% endif %}
        {% endif %}

      
      {% if block.settings.title != blank %}
      <div class="rev-btm-content">
       <div class="head-review-div">
        {% if block.settings.title != blank %}
          <h3 class="{{ block.settings.heading_size }}">{{ block.settings.title | escape }}</h3>
        {% endif %}
        {% if block.settings.star_img != blank %}
                <img alt="{{ block.settings.image.alt | escape }}"
                     class="star_img lazyload {{ settings.image_loading_style }}"
                     data-sizes="25vw"
                     style="max-width: 100px; margin:auto;"
                     data-src="{{ block.settings.star_img | img_url: '2048x' }}"
                     data-srcset="{{ block.settings.star_img | img_url: '200x' }} 200w,
                                  {{ block.settings.star_img | img_url: '300x' }} 300w,
                                  {{ block.settings.star_img | img_url: '400x' }} 400w,
                                  {{ block.settings.star_img | img_url: '500x' }} 500w,
                                  {{ block.settings.star_img | img_url: '600x' }} 600w,
                                  {{ block.settings.star_img | img_url: '1000x' }} 1000w"
                />
  
 {% endif %}

      </div>
           
        {% if block.settings.text != blank %}
          <div class="rte-setting">
            {{ block.settings.text  | truncatewords: 15 }}
          </div>
        {% endif %}
      

      
        {% if block.settings.button_label != blank and block.settings.button_link != blank %}
          <a href="{{ block.settings.button_link }}" class="text-columns-with-images__button global-button review_btn global-button--text">{{ block.settings.button_label | escape }}</a>
        {% endif %}
      
        </div>
  {% endif %}
        </div>
      </div>








  
    {% endfor %}
    </div>
    </div> 
  </div>
</section>

<style>
.sub_hheading_r{margin-bottom:40px}
@media only screen and (max-width: 798px){
.sub_hheading_r{margin-bottom:10px; font-size: 14px;}
.slider_review_h h3 { font-size: 20px; margin-bottom: 0px; margin-top: 10px;}
.owl-carousel .owl-item img {width: 75%;  margin: auto;}
}
</style>

  
{% for block in blocks %}
  

    {% endfor %}

{% schema %}
{
  "name": "Review Slider Review",
  "class": "shopify-section--text-columns-with-images",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Text columns with images"
    },
  {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Heading",
      "default": "Text columns with images"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "limit": 20,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_image",
          "label": "Show image",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },

 {
      "type": "video_url",
      "id": "iframe_video",
      "label": "Video link",
      "accept": ["youtube"]
    },
        {
      "type": "text",
      "id": "html5_video",
      "label": "HTML5 MP4/OGV File URL"
    },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Add a title or tagline"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "default": "regular_text",
          "options": [
            {
              "value": "regular_text",
              "label": "Regular"
            },
            {
              "value": "large_text",
              "label": "Large"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
        },
{
          "type": "image_picker",
          "id": "star_img",
          "label": "Image Star"
        },

        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "align_text",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "border_style",
          "label": "Border style",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "quote",
              "label": "Quote"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Review Slider Review",
      "category": "Text",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ],
  "templates": [
    "index",
    "product",
    "page"
  ]
}

{% endschema %}