<script
  type="application/json"
  data-section-type="text-columns-with-images"
  data-section-id="{{ section.id }}"
>
</script>


{%- assign id = section.id -%}

{% comment %} Content settings {% endcomment %}
{%- assign blocks = section.blocks -%}
{%- assign title = section.settings.title | escape -%}
{%- assign sub_title = section.settings.sub_title | escape -%}
{%- assign html5_video = section.settings.html5_video | escape -%}
{% comment %} End content settings {% endcomment %}

{% comment %} Advanced {% endcomment %}
{%- assign css_class = section.settings.css_class -%}
{%- assign custom_css = section.settings.custom_css -%}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  {%
    render 'css-loop',
    css: custom_css,
    id: id
  %}
{% endstyle %}



 
<section class="section {{ css_class }} desktop-test-sect">
  <div class="container">
    {% if section.settings.title != blank %}
      <div class="one-whole column">
        <h2 class="title center" style="margin-bottom:0;">
          {{ section.settings.title }}
        </h2>
        <p class="center sub_hheading_r">
          {{ sub_title }}
        </p>
      </div>
    {% endif %} 
	<div class="owl-slider">
		<div id="home-rev-carousel" class="owl-carousel owl-theme review-slider">
		    <div class="item review-item-div">
		    	<div class="border-style--{{ block.settings.border_style }} text-align--{{ block.settings.align_text }}">
		         	<div class="slider-hom-m-row">
		         		<div class="f-col">
		         			<div class="rew-cont">
		         				<div class="pt-img">
		         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
		         				</div>
		         				<div class="content-rev">
		         					<div class="title-star">
		         						<h2>Kelsey C.</h2>
		         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
		         					</div>
		         					<div class="desc">
		         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
		         					</div>
		         				</div>
		         			</div>
		         			<div class="rew-cont">
		         				<div class="pt-img">
		         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
		         				</div>
		         				<div class="content-rev">
		         					<div class="title-star">
		         						<h2>Kelsey C.</h2>
		         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
		         					</div>
		         					<div class="desc">
		         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
		         					</div>
		         				</div>
		         			</div>
		         		</div>
		         		<div class="s-col">
		         			<div class="rew-cont">
		         				<div class="pt-img">
		         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
		         				</div>
		         				<div class="content-rev">
		         					<div class="title-star">
		         						<h2>Kelsey C.</h2>
		         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
		         					</div>
		         					<div class="desc">
		         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
		         					</div>
		         				</div>
		         			</div>
		         		</div>
		         		<div class="th-col">
		         			<div class="thirs-m-row">
		         				<div class="rew-cont">
			         				<div class="pt-img">
			         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
			         				</div>
			         				<div class="content-rev">
			         					<div class="title-star">
			         						<h2>Kelsey C.</h2>
			         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
			         					</div>
			         					<div class="desc">
			         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
			         					</div>
			         				</div>
			         			</div>
			         			<div class="rew-cont">
			         				<div class="pt-img">
			         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
			         				</div>
			         				<div class="content-rev">
			         					<div class="title-star">
			         						<h2>Kelsey C.</h2>
			         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
			         					</div>
			         					<div class="desc">
			         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
			         					</div>
			         				</div>
			         			</div>
		         			</div>
		         			<div class="more-rev-div-sli">
		         				<h3>Delicious treat!</h3>
		         				<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable</p>
		         				<a href="#">More Reviews</a>
		         			</div>
		         		</div>
		         	</div>
		        </div>
		    </div>
		    <div class="item review-item-div">
		    	<div class="border-style--{{ block.settings.border_style }} text-align--{{ block.settings.align_text }}">
		         	<div class="slider-hom-m-row">
		         		<div class="f-col">
		         			<div class="rew-cont">
		         				<div class="pt-img">
		         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
		         				</div>
		         				<div class="content-rev">
		         					<div class="title-star">
		         						<h2>Kelsey C.</h2>
		         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
		         					</div>
		         					<div class="desc">
		         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
		         					</div>
		         				</div>
		         			</div>
		         			<div class="rew-cont">
		         				<div class="pt-img">
		         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
		         				</div>
		         				<div class="content-rev">
		         					<div class="title-star">
		         						<h2>Kelsey C.</h2>
		         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
		         					</div>
		         					<div class="desc">
		         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
		         					</div>
		         				</div>
		         			</div>
		         		</div>
		         		<div class="s-col">
		         			<div class="rew-cont">
		         				<div class="pt-img">
		         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
		         				</div>
		         				<div class="content-rev">
		         					<div class="title-star">
		         						<h2>Kelsey C.</h2>
		         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
		         					</div>
		         					<div class="desc">
		         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
		         					</div>
		         				</div>
		         			</div>
		         		</div>
		         		<div class="th-col">
		         			<div class="thirs-m-row">
		         				<div class="rew-cont">
			         				<div class="pt-img">
			         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
			         				</div>
			         				<div class="content-rev">
			         					<div class="title-star">
			         						<h2>Kelsey C.</h2>
			         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
			         					</div>
			         					<div class="desc">
			         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
			         					</div>
			         				</div>
			         			</div>
			         			<div class="rew-cont">
			         				<div class="pt-img">
			         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
			         				</div>
			         				<div class="content-rev">
			         					<div class="title-star">
			         						<h2>Kelsey C.</h2>
			         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
			         					</div>
			         					<div class="desc">
			         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
			         					</div>
			         				</div>
			         			</div>
		         			</div>
		         			<div class="more-rev-div-sli">
		         				<h3>Delicious treat!</h3>
		         				<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable</p>
		         				<a href="#">More Reviews</a>
		         			</div>
		         		</div>
		         	</div>
		        </div>
		    </div>
		    <div class="item review-item-div">
		    	<div class="border-style--{{ block.settings.border_style }} text-align--{{ block.settings.align_text }}">
		         	<div class="slider-hom-m-row">
		         		<div class="f-col">
		         			<div class="rew-cont">
		         				<div class="pt-img">
		         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
		         				</div>
		         				<div class="content-rev">
		         					<div class="title-star">
		         						<h2>Kelsey C.</h2>
		         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
		         					</div>
		         					<div class="desc">
		         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
		         					</div>
		         				</div>
		         			</div>
		         			<div class="rew-cont">
		         				<div class="pt-img">
		         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
		         				</div>
		         				<div class="content-rev">
		         					<div class="title-star">
		         						<h2>Kelsey C.</h2>
		         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
		         					</div>
		         					<div class="desc">
		         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
		         					</div>
		         				</div>
		         			</div>
		         		</div>
		         		<div class="s-col">
		         			<div class="rew-cont">
		         				<div class="pt-img">
		         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
		         				</div>
		         				<div class="content-rev">
		         					<div class="title-star">
		         						<h2>Kelsey C.</h2>
		         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
		         					</div>
		         					<div class="desc">
		         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
		         					</div>
		         				</div>
		         			</div>
		         		</div>
		         		<div class="th-col">
		         			<div class="thirs-m-row">
		         				<div class="rew-cont">
			         				<div class="pt-img">
			         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
			         				</div>
			         				<div class="content-rev">
			         					<div class="title-star">
			         						<h2>Kelsey C.</h2>
			         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
			         					</div>
			         					<div class="desc">
			         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
			         					</div>
			         				</div>
			         			</div>
			         			<div class="rew-cont">
			         				<div class="pt-img">
			         					<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/4JEiHbrVT_400x.jpg?v=1675789609">
			         				</div>
			         				<div class="content-rev">
			         					<div class="title-star">
			         						<h2>Kelsey C.</h2>
			         						<img src="https://cdn.shopify.com/s/files/1/0597/2335/0068/files/Group_1000001647_400x.png?v=1675008521">
			         					</div>
			         					<div class="desc">
			         						<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable which is...</p>
			         					</div>
			         				</div>
			         			</div>
		         			</div>
		         			<div class="more-rev-div-sli">
		         				<h3>Delicious treat!</h3>
		         				<p>Delicious treat! The durable bone is refillable and the pouch itself is resealable</p>
		         				<a href="#">More Reviews</a>
		         			</div>
		         		</div>
		         	</div>
		        </div>
		    </div>
		</div>

    </div>
    </div> 
</section>

<style>
.sub_hheading_r{margin-bottom:40px}
@media only screen and (max-width: 798px){
.sub_hheading_r{margin-bottom:10px; font-size: 14px;}
.slider_review_h h3 { font-size: 20px; margin-bottom: 0px; margin-top: 10px;}
.owl-carousel .owl-item img {width: 75%;  margin: auto;}
}
</style>


{% schema %}
{
  "name": "Custom Review Slider",
  "class": "shopify-section--text-columns-with-images",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Text columns with images"
    },
  {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Heading",
      "default": "Text columns with images"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "limit": 20,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_image",
          "label": "Show image",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
      "type": "text",
      "id": "html5_video",
      "label": "HTML5 MP4/OGV File URL"
    },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Add a title or tagline"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "default": "regular_text",
          "options": [
            {
              "value": "regular_text",
              "label": "Regular"
            },
            {
              "value": "large_text",
              "label": "Large"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
        },
{
          "type": "image_picker",
          "id": "star_img",
          "label": "Image Star"
        },

        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "align_text",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "border_style",
          "label": "Border style",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "quote",
              "label": "Quote"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "custom Testimonial Slider",
      "category": "Text",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ],
  "templates": [
    "index",
    "product",
    "page"
  ]
}

{% endschema %}
